.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.player-wrapper .react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
